<!doctype html>
<html manifest="goodoo.manifest" ng-app="goodoo">

  <head>
    <title>Goo Doo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> <!-- load before main.css because we customize it -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.css"/>-->
    <script src="libs/angular.min.js"></script>
    <script src="libs/jquery-1.9.1.min.js"></script>
    <script src="libs/keymaster.min.js"></script>
    <script src="libs/sprintf-0.5.js"></script>
    <script src="libs/humanized_time_span.js"></script>
    <link rel="stylesheet" type="text/css" href="libs/message/themes/message_default.css">
    <script src="libs/message/message.js"></script>

    <script type="text/javascript">
      // Check if a new cache is available on page load.
      window.addEventListener('load', function(e) {
        window.applicationCache.addEventListener('updateready', function(e) {
          if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
            // Browser downloaded a new app cache.
            // Swap it in and reload the page to get the new hotness.
            window.applicationCache.swapCache();
            if (confirm("A new version of this site is available. Load it?")) {
              window.location.reload();
            } else {
              alert("Things may not work properly until you reload the page.");
            }
          }
        }, false);
      }, false);

      angular.module('goodoo', []); // define the goodoo module
    </script>
    <script src="tasks_ctrl.js"></script>
    <script src="labels_ctrl.js"></script>
    <script src="sync_ctrl.js"></script>
    <script src="message_ctrl.js"></script>
    <script src="storage.js"></script>
    <script src="sync.js"></script>
    <script src="net.js"></script>
  </head>
  
  <body ng-controller="TasksCtrl">
    
    <header>
      <div id="hdr">
        <h1 id="logo">Goo Doo</h1>

        <div ng-controller="MessageCtrl"></div> <!-- Just a place holder to load controller. Nothing shown here. -->

        <form id="search" ng-submit="search()">
          <input type="text" class="search" placeholder="Search for tag" ng-model="searchTemp">
          <button type="submit" class="button icon-search" value="Search" ng-click="searchForTag($event, searchTemp)"></button>
        </form>
      </div>
    </header>

    <div id="container">
        
      <div id="sidebar">
        <div ng-controller="LabelsCtrl">
          <h4>Tags:</h4>
          <ul id="label-list">
            <li ng-repeat="tag in tags | orderBy:'text'">
              <strong ng-show="searchStr.text == ('#' + tag.text)">{{tag.text}}</strong>
              <a href="" ng-hide="searchStr.text == ('#' + tag.text)" ng-click="searchFor(tag.text)">{{tag.text}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="task-list todo">
          <span ng-show="remaining().length == 0">This list is all done!</span>
          <ul>
            <li ng-repeat="task in remaining()">
              <div ng-hide="editing && $index == cursor">
                <span ng-show="$index == cursor" class="icon-caret-right cursor"></span>
                <input type="checkbox" id="toggle" ng-model="task.done" ng-change="updatedTask(task)" >
                <a href="" class="tag" ng-repeat="tag in task.tags" ng-click="searchForTag($event, tag)">{{tag}} </a>
                <span ng-click="editTask($index)" class="task" ng-bind-html-unsafe="linkify(task.text)"></span>
              </div>
  
              <form ng-submit="updateTask()" ng-show="editing && $index == cursor">
                <input class="edit{{$index}} text" ng-model="editTaskText[cursor]">
                <button type="submit" class="button icon-ok" value="Save"></button>
              </form>
            </li>
          </ul>
        </div>
  
        <form ng-submit="addTask()" class="addClass">
          <input type="text" class="new-task" placeholder="Add new task" ng-model="newTask" style="padding: 11px 2%;">
          <button type="submit" class="button icon-plus" value="Add"></button>
        </form>
    
        <div id="sync" ng-controller="SyncCtrl">
          <a href="" class="syncit" ng-click="sync()" ng-hide="syncStatus == 'syncing'">
            <i class="icon-refresh"></i> Sync now
          </a>
          <span class="syncit" ng-show="syncStatus == 'syncing'">Syncing...</span>
          <br />
          {{prettyLastSynced}}<br />
          <a href="" ng-click="downloadAsFile()">Export your data as a file</a><br><!-- TODO prevent default on click -->
          <a ng-click="logTasks()" href="">Debugging: Log tasks</a>       
        </div>      

      </div> <!-- end of main -->
    </div> <!-- end of container -->
    
    <footer>
    <div id="shortcuts">
      <strong>Keyboard Shortcuts</strong><br>
      Search &nbsp;/  &nbsp;&nbsp;&nbsp; Down, Up &nbsp;j, k &nbsp;&nbsp;&nbsp; Edit task &nbsp;o, enter &nbsp;&nbsp;&nbsp; Finish task &nbsp;c, f &nbsp;&nbsp;&nbsp;
      Add new task &nbsp;a, n, t
    </div>
    </footer>
  </body>

</html>
