@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}

body,
input {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
}

body {
	margin: 0 auto;
	font-size: 80%;
	color: #666;
}

h1, h2, h3, h4 {
	margin: 0;
}

input.new-task, 
input.search {
	padding: 5px 10px;
	font-size: 120%;
	width: 68%;
		border: 1px solid #ddd;
}

input.button {
	background: #10C9E6;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 7px 20px 7px 20px;
	font-size: 120%;
}

input.button:hover {
		background: #0FA6BD;
}

input.text {
		padding: 5px 10px;
		width: 68%;
		background: yellow;
		border: none;
		font-size: 100%;
}

header {
		width: 100%;
		position: fixed;
		z-index: 1;
		padding: 10px 0;
		background: white;
				 -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#hdr {
		margin: 0 auto;
		width: 75%;
}

#logo {
		float: left;
		width: 40%;
}

#search {
		float: left;
		width: 60%;
}

#container {
		margin: 0 auto;
		width: 75%;
}

#main {
  width:60%;
		float: left;
		left: 40%;
		position: relative;
		top: 80px;
		margin-bottom: 150px;
}

#sidebar {
	width: 40%;
	float: left;
	position: fixed;
	top: 80px;
}

a {
	color: #10C9E6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#label-list {
		margin-bottom: 20px;
}

.todo ul li {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

.tag {
  color: #10C9E6;
}

.all ul {
	color: #ccc;
	margin: 20px 0 10px 0;
}

.all ul .tag {
	
}

div#sync {
	margin-top: 40px;
}
