<html ng-app>

<head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="jquery-1.9.1.min.js"></script>
  <script src="goodoo.js"></script>
</head>

<body ng-controller="GooDooCtrl">
  <header>
    Goo Doo
  </header>

  <div id="sidebar">
    <div>search goes here</div>

    <h4>Labels:</h4>
    <ul id="label-list">
      <li>@Computer</li>
      <li>Goo-Doo</li>
    </ul>
  </div>

  <div id="main">
    <form ng-submit="addTask()">
      Add task:
      <input type="text" ng-model="newTask">
      <input type="submit" value="Add">
    </form>

    <h2>Remaining tasks</h2>
    <div class="task-list">
      <ul>
        <li ng-repeat="task in remaining()">
          <input type="checkbox" ng-model="task.done">
          <span class="tag" ng-repeat="tag in task.tags">{{tag}} </span>
          <span>{{task.text}}</span>
        </li>
      </ul>
    </div>

    <h2>All tasks:</h2>
    <div class="task-list">
      <ul>
        <li ng-repeat="task in tasks">
          <input type="checkbox" ng-model="task.done">
          <span class="tag" ng-repeat="tag in task.tags">{{tag}} </span>
          <span>{{task.text}}</span>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>
