<!doctype html>
<html ng-app>

  <head>
    <title>GooDoo</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="jquery-1.9.1.min.js"></script>
    <script src="keymaster.min.js"></script>
    <script src="sprintf-0.5.js"></script>
    <script src="goodoo.js"></script>
  </head>
  
  <body ng-controller="gd.GooDooCtrl">
  
    <div id="sidebar">  
      <h1>Goo Doo</h1>

      <h4>Labels:</h4>
      <ul id="label-list">
        <li>@Computer</li>
        <li>Goo-Doo</li>
      </ul>

      <h4>Keyboard Shortcuts</h4>
      <table>
        <tr><td>/</td><td>Search</td></tr>
        <tr><td>c, n, or a</td><td>Add new task</td></tr>
        <tr><td>TODO f</td><td>Finish task</td></tr>
      </table>
    </div>
  
    <div id="main">
      <form ng-submit="search()">
        <input type="text" class="search" placeholder="Search for tag" ng-model="searchString">
        <input type="submit" class="button" value="Search">
      </form>
  
      <p></p>

      <div class="task-list todo">
        <ul>
          <li ng-repeat="task in remaining()">
            <div id="show-task-{{task.id}}" class="show-task">
              <input type="checkbox" ng-model="task.done">
              <a href="#" class="tag" ng-repeat="tag in task.tags" ng-click="searchForTag($event, tag)">{{tag}} </a>
              <span ng-click="editTask(task.id)">{{task.text}}</span>
            </div>
            <form ng-submit="updateTask(task.id)" id="edit-task-{{task.id}}" class="edit-task hide">
              <input class="text" ng-model="task.editText">
              <input type="submit" class="button" value="Save">
            </form>
          </li>
        </ul>
      </div>

      <form ng-submit="addTask()">
        <input type="text" class="new-task" placeholder="Add new task" ng-model="newTask">
        <input type="submit" class="button" value="Add">
      </form>
  
      <div class="task-list all">
        <ul>
          <li ng-repeat="task in done()">
            <input type="checkbox" ng-model="task.done">
            <span class="tag" ng-repeat="tag in task.tags">{{tag}} </span>
            <span>{{task.text}}</span>
          </li>
        </ul>
        <a ng-click="killTasks()" id="kill-task" class="hide" href="#">Delete completed tasks</a>
      </div>
    </div>
  
  </body>

</html>
