body,
input {
		font-family: arial, sans-serif;
}

body {
		margin: 0 auto;
		color: #666;
		background: #fff;
}

h1, h2, h3, h4 {
	margin: 0;
}

/* Input Fields & Buttons */

input.new-task, 
input.search {
		padding: 21px 2%;
		width: 70%;
		border: 1px solid #ddd;
		padding: 14px 5px 10px 15px;
		font-size: 100%;
		color: #333;
}

input.new-task {
		font-size: 100%;
}

input.text {
		padding: 2px 5px;
		background: #fafafa;
		border: none;
		font-size: 100%;
		color: #666;
		width: 91.4%;
}

input.button,
button {
		background: #10C9E6;
		color: #fff;
		border: none;
		cursor: pointer;
		padding: 10px;
		font-size: 100%;
}

button.icon-search {
		padding: 8px 2.5% 11px 2.5%;
		font-size: 150%;
}

button.icon-plus {
		padding: 12px 3% 12px 3%;
}

button.icon-ok {
		padding: 1px 4.2% 2px 2%;
}


input.button:hover,
button:hover {
		background: #0FA6BD;
}

/*input[type='checkbox'] {
		position: absolute;
		top: -9999px;
		left: -9999px;
}*/

input[type=checkbox]:checked ~ div {
		background: red;
}

.icon-check-empty {
		font-size: 200%;
		color: #bbb;
}

.checkbox {
		cursor: pointer;
}

.checkbox:hover {
		color: #0FA6BD;
}

header {
		width: 100%;
		left: 0;
		position: fixed;
		z-index: 1;
		padding: 10px 0;
		background: #10C9E6;
				 -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#logo {
		text-align: center;
		color: #fff;
		font-family: 'Oleo Script Swash Caps', cursive;
		font-weight: 100;
		font-size: 50px;
}

#search {
		background: #fafafa;
		padding: 20px 0%;
		position: relative;
		top: 20px;
		width: 100%;
		text-align: center;
}

#container {
		margin: 0 auto;
		/*width: 700px;*/
		/*max-width: 100%;*/ /*90%*/
}

#main {
		padding: 0 5%;
		position: relative;
		top: 90px;
		margin-bottom: 300px;
		top: 220px;
}

#sidebar {
		display: none; /* hidding sidebar until something happens there */
		width: 40%;
		float: left;
		position: fixed;
		top: 80px;
}

footer {
		width: 100%;
		text-align: center;
		line-height: 20px;
}

a {
		color: #10C9E6;
		text-decoration: none;
}

a:hover {
		text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#label-list {
		margin-bottom: 20px;
}

.todo ul li {
		border-bottom: 1px solid #eee;
		padding: 8px 0;
}

.tag {
  color: #10C9E6;
}

.all ul {
		color: #ccc;
		margin: 20px;
}

#sync {
		font-size: 60%;
		color: #999;
		line-height: 15px;
}

.syncit {
		margin-bottom: 10px;
		display: inline-block;
		font-size: 150%;
}

.syncit:hover .icon-refresh,
.syncit:hover {
		text-decoration: none;
		color: #0FA6BD;
}

/* Keyboard Shortcuts */

#shortcuts {
		position: relative;
		padding: 20px;
		font-size: 70%;
}

/* Icons */

li .icon-caret-right {
		display: none;
}

.addClass {
		margin: 20px 0;
}

.icon-refresh {
		color: #10C9E6;
}
		
.task {
		padding: 2px 5px;
}

.task:hover {
		background: yellow;
}


@media (min-width:600px) {
		
		#main {
				max-width: 100%;
				margin: 0 auto;
				width: 600px;
				margin-bottom: 280px;
		}

		input.search {
				width: 400px;
		}
		
		input.new-task {
				width: 517px;
		}

		button.icon-search{
				padding: 8px 11px 11px 11px;
		}
		
		button.icon-plus {
				padding: 12px 3% 12px 3%;
		}

		li .icon-caret-right{
				font-size: 100%;
				left: -47px;
				color: #10C9E6;
				position: relative;
				display: block;
				height: 0px;
				top: 2px;
		}

		
}
