body,
input {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0 auto;
	color: #666;
	background: #fafafa;
	font-size: 80%;
}

h1, h2, h3 {
	margin: 0;
}

h4 {
	margin: 0;
	margin-bottom: 20px
}

/* Input Fields & Buttons */

input.new-task, 
input.search {
	width: 80%;
	border: 1px solid #ddd;
	padding: 5px 10px;
	font-size: 100%;
	color: #333;
}

input.new-task {
		font-size: 100%;
}

input.text {
	font-size: 100%;
	color: #666;
	width: 80%;
}

.fa {
	color: #10C9E6;	
}

.fa-minus-circle,
input.button,
button {
	cursor: pointer;
}

input[type=checkbox]:checked ~ div {
		background: red;
}

.checkbox {
	cursor: pointer;
}

header {
		width: 100%;
		left: 0;
		position: fixed;
		z-index: 1;
		padding: 10px 0;
		background: #fafafa;
		-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#hdr,
#container {
	margin: 0 auto;
	width: 75%;
}

#logo {
	float: left;
	width: 30%;
	color: #10C9E6;
	font-weight: bold;
	font-size: 30px;
}

#search {
		float: left;
		width: 70%;
		padding: 20px 0;
		/*background: #fafafa;*/
		/*position: relative;*/
		/*top: 20px;*/
		/*width: 100%;*/
		/*text-align: center;*/
}

#sidebar {
	width: 20%;
	float: left;
	position: fixed;
	top: 150px;
}

#main {
	width: 70%;
	left: 30%;
	position: relative;
	top: 150px;
	margin-bottom: 300px;
}

footer {
		width: 100%;
		text-align: center;
		line-height: 20px;
}

a {
		color: #10C9E6;
		text-decoration: none;
}

a:hover {
		text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo ul li {
		border-bottom: 1px solid #eee;
		padding: 8px 0;
}

.tag {
  color: #10C9E6;
}

.all ul {
		color: #ccc;
		margin: 20px;
}

li .fa-chevron-right{
	left: -20px;
	position: relative;
	display: block;
	height: 0;
	top: 4px;
}

#sync {
		font-size: 70%;
		color: #999;
		line-height: 15px;
}

.syncit {
		margin-bottom: 10px;
		display: inline-block;
		font-size: 150%;
}

.syncit:hover {
		text-decoration: none;
		color: #0FA6BD;
}

/* Keyboard Shortcuts */

#shortcuts {
		position: relative;
		padding: 20px;
		font-size: 70%;
}

/* Icons */

.addClass {
		margin: 20px 0;
}

.task {
		padding: 2px 5px;
}

.task:hover {
	background: #eee;
	cursor: pointer;
}
